.input {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;

  & > label {
    grid-row: 1;
    grid-column: 1;

    font-weight: 500;
  }

  & > input {
    grid-row: 2;
    grid-column: 1 / -1;

    padding: 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--light-gray);

    border-radius: 0.5rem;
    outline: none;

    font-weight: 700;

    &::placeholder {
      color: var(--cool-gray);
    }

    &:focus-visible {
      border-color: var(--purplish-blue);
    }

    &:has(+ output) {
      border-color: var(--strawberry-red);
    }
  }

  & > output {
    grid-row: 1;
    grid-column: 2;

    color: var(--strawberry-red);
    font-weight: 500;
  }
}
