.addon > div:last-child {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row: auto auto;
  inline-size: 100%;

  & > h2 {
    font-weight: 700;
  }

  & > p {
    color: var(--cool-gray);
    font-size: 0.85rem;
    line-height: 1.75;
    font-weight: 500;
  }

  & > strong {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;

    font-weight: 500;
    color: var(--purplish-blue);
  }
}
