.summary {
  --gap: 1rem;
  --padding: calc(1.5 * var(--gap));

  display: grid;
  grid-template-columns:
    var(--padding)
    [full-start content-start] 1fr [content-end price-start]
    auto [price-end full-end]
    var(--padding);

  & :is(header, div) {
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    grid-column: 1 / -1;
  }

  & header {
    gap: 0.25rem;

    & strong {
      grid-row: 1 / span 2;

      font-size: 1.15rem;
    }
  }

  & div {
    row-gap: var(--gap);
  }

  & :is(h2, p, button) {
    grid-column: content;
  }

  & h2 {
    font-weight: 500;
  }

  & button {
    justify-self: start;
  }

  & p {
    color: var(--cool-gray);
  }

  & strong {
    justify-self: end;
    align-self: center;
    grid-column: price;

    font-weight: 700;
  }

  & hr {
    grid-column: full;

    border-style: solid;
    border-color: hsl(from var(--light-gray) h s l / 0.5);

    margin-block: calc(var(--gap) / 2);
  }

  & > div {
    padding-block: var(--padding);
  }

  & > .cart {
    background-color: var(--alabaster);
    border-radius: 1rem;

    & > div {
      font-size: 0.85rem;
    }
  }

  & > .total {
    align-items: center;

    & p {
      font-size: 0.85rem;
    }

    & strong {
      color: var(--purplish-blue);
      font-size: 1.25rem;
    }
  }
}
