.radio {
  cursor: pointer;
  display: grid;

  outline-width: 3px;
  outline-color: var(--purplish-blue);
  border-radius: 0.5rem;

  &:has(input:checked) {
    outline-width: 1px;
  }

  &:is(:hover, :focus-visible) > div {
    border-color: var(--purplish-blue);
  }
}
