.card {
  padding-inline: 1rem;
  padding-block: 1.5rem;

  border-width: 1px;
  border-style: solid;
  border-color: var(--light-gray);

  border-radius: 0.5rem;

  &.active {
    border-color: var(--purplish-blue);
    background-color: var(--alabaster);
  }
}
