.toggle {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  & label {
    color: var(--cool-gray);
    font-weight: 500;
    cursor: pointer;
  }

  & > div {
    --padding: 0.25rem;
    --size: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    inline-size: calc(2.25 * var(--size) + 2 * var(--padding));
    block-size: calc(var(--size) + 2 * var(--padding));

    background-color: var(--marine-blue);
    border-radius: 100vmax;

    &::after {
      content: "";
      position: absolute;
      top: var(--padding);
      left: var(--padding);

      inline-size: var(--size);
      aspect-ratio: 1;

      background-color: var(--white);
      border-radius: 50%;
      translate: 0 0;
      transition: translate 150ms;
    }
  }

  & input {
    display: none;
  }

  &:has(input:last-of-type:checked) > div::after {
    translate: 125% 0;
  }

  &:has(input:first-of-type:checked) > label:first-child {
    color: var(--marine-blue);
  }

  &:has(input:last-of-type:checked) > label:last-child {
    color: var(--marine-blue);
  }
}
