@layer reset, base, layout, component, utility;

@font-face {
  src: local("Ubuntu"), local("Ubuntu-Regular"), local("Ubuntu_Regular"),
    local("UbuntuRegular"), url("./assets/fonts/Ubuntu-Regular.ttf");
  font-family: "Ubuntu";
  font-weight: 400;
}

@font-face {
  src: local("Ubuntu"), local("Ubuntu-Medium"), local("Ubuntu_Medium"),
    local("UbuntuMedium"), url("./assets/fonts/Ubuntu-Medium.ttf");
  font-family: "Ubuntu";
  font-weight: 500;
}

@font-face {
  src: local("Ubuntu"), local("Ubuntu-Bold"), local("Ubuntu_Bold"),
    local("UbuntuBold"), url("./assets/fonts/Ubuntu-Bold.ttf");
  font-family: "Ubuntu";
  font-weight: 700;
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
  }

  :root,
  body,
  #root {
    background-color: var(--magnolia);
    block-size: 100%;
  }
}

@layer base {
  :root {
    font-family: "Ubuntu";

    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
  }

  #root {
    color: var(--marine-blue);
  }

  form {
    border-radius: 1rem;
    box-shadow: 0 5px 5px 0 hsl(from var(--marine-blue) h s l / 0.15);
    background-color: var(--white);
  }

  h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;

    & + p {
      line-height: 1.75;
      color: var(--cool-gray);
    }
  }
}

@layer layout {
  #root {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto;

    isolation: isolate;
  }

  form {
    inline-size: min(90svw, 60rem);

    padding: 1rem;

    @media (width < 50rem) {
      padding: 0;
    }

    @media (width >= 50rem) {
      display: grid;
      gap: 5rem;
      grid-template-columns: auto 1fr;
      padding-inline-end: 5rem;
    }
  }
}

@layer utility {
  .text-danger {
    color: var(--strawberry-red);
  }

  .weight-500 {
    font-weight: 500;
  }

  .pointer {
    cursor: pointer;
  }
}
