:has(> .thanks) {
  grid-row: span 2;
  place-items: center;
}

.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  text-align: center;

  & > p {
    max-inline-size: 50ch;

    color: var(--cool-gray);
  }
}
